<!DOCTYPE html>
<html>
    <head>
        {% load staticfiles %}
        <title>Petal | Flower Order Management System</title>
        <link rel='stylesheet' type='text/css' href='{% static "petal_foms/styles.css"%}'>
    </head>
    <body>
        <h3>WORKS</h3>
    </body>
</html>